html,
body,
* {
    background-color: rgb(250, 207, 152);
    font-family: 'Mali', cursive;
    text-align: center;
    box-sizing: border-box;
    flex: 200px;
    border-radius: 30px;
    font-size: 20px;
}

.h1 {
    padding: 20;
    margin: 20;
}

.box {
    font-size: 30px;
    display: flex;
    width: 90vw;
    flex-direction: row;
    margin: auto;
    padding: auto;
}

.form-input {
    border: 1px solid rgb(198, 133, 4);
    background-color: beige;
    box-shadow: 10px 5px 5px rgb(168, 52, 6);
}

.btn {
    width: 13vh;
    height: 6vh;
    background-color: beige;
}